<div>
  <p>
    <a id="emailclick">Email Address</a>
  </p>
</div>

<script>
  const element = document.getElementById("emailclick");
  const email = "{{ .Get 0 }}";

  element.addEventListener("click", {
    handleEvent: function (event) {
      window.prompt("I hope this keeps the bots away!", email);
    },
  });
</script>
