<script src="/libraries/plyr/plyr.js"></script>
<link rel="stylesheet" href="/libraries/plyr/plyr.css" />

<style>
  .plyr {
    border-radius: 15px;
    margin: 16px 0 16px 0;
  }
</style>

<div class="{{ .Get 1 }}">
  <video id="plyr" controls>
    <source src="{{ .Get 0 }}" type="video/mp4" />
  </video>
</div>

<script>
  const player = new Plyr(document.getElementById("plyr"));
</script>
